<nav>
  <ul class="pagination">
   <!-- PREVIOUS BUTTON -->
    <li 
      class="page-item"
      [appClass]="{ disabled: currentPage === 0 }"
    >
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>

    <!-- NUMBERED BUTTONS -->
     <!-- ngClass- assigns class name property. active class = if currentPage === index (boolean... if true, class = active. false) -->
     <!-- ng-container exists solely to provide extra ng directives -->
     <ng-container *appTimes="images.length; let i = index">
      <li 
        class="page-item" 
        [appClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <!-- NEXT BUTTON -->
    <li 
      class="page-item"
      [appClass]="{ disabled: currentPage === images.length-1 }"
    >
      <a (click)="currentPage = currentPage + 1"  class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4 >{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url">
</div>

<!-- ngSwitch - if element matches whatever is in ngSwitch, will be displayed on screen. default = switch, default (doesn't match any other ngswitchcase) -->
<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="3">
    current page is three
  </div>
  <div *ngSwitchDefault>
    unknown current page
  </div>
</div> -->